<div class="header pb-7 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 300px; background-image: url(https://munichaclacayo.gob.pe/portals/slider/imagenes/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->

    <!-- Header container -->
    <div class="container-fluid ">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success">EXPORTAR EXCEL</button>
                    <button type="button" class="btn btn-danger">EXPORTAR PDF</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-7">
                    
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" placeholder="Search" type="text">
                            <button type="button" class="ml-1 btn btn-secondary">BUSCAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">

                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">NOMBRE</th>
                                <th scope="col">SOLICITUD</th>
                                <th scope="col">ZONA</th>
                                <th scope="col">REPRESENTANTE</th>
                                <th scope="col">NIVEL</th>
                                <th scope="col">INICIO DE VIGENCIA</th>
                                <th scope="col">FIN DE VIGENCIA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Argon Design System</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Argon Design System</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">Argon Design System</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                                <td>
                                    $2,500 USD
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                
            </div>
        </div>
    </div>
</div>